.level_header{
    @apply bg-white text-black shadow-md font-semibold rounded-md border-slate-200 border-2
}

audio{
    background-color: white;
}

.limited-width-text {
    overflow-wrap: break-word;
    word-break: break-word;
}